<form class="form-horizontal" name="signupForm">
    <div class="row">
      <div class="col-md-6">
        <pre>{{formModel | json}}</pre>
      </div>

      <div class="col-md-6">


        <h1>Sign up</h1>
        <br/>
        <div class="form-group">

          <label class="control-label col-sm-3" for="firstName">First	name:</label>
          <div class="col-sm-9">
            <input name="userFirstName" type="text" class="form-control" id="firstName"
              ng-model="formModel.firstName" placeholder="Enter first name" required>
              <span style="color:red" ng-show="signupForm.userFirstName.$dirty &&signupForm.userFirstName.$error.required">User first name is required.</span>


          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="lastName">Last name:</label>
          <div class="col-sm-9">
            <input name="userLastName" type="text" class="form-control" id="lastName"
              ng-model="formModel.lastName" placeholder="Enter last name"
              required>
              <span style="color:red" ng-show="signupForm.userLastName.$dirty &&signupForm.userLastName.$error.required">User last name is required.</span>

          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Email:</label>
          <div class="col-sm-9">
            <input name="userEmail"  type="email" class="form-control" id="email" ng-model="formModel.email" placeholder="Enter email"   required>
            <!--  <span style="color:red" ng-show="signupForm.userEmail.$dirty &&signupForm.userEmail.$invalid">User email is incorrect.</span>-->
              <span style="color:red" ng-show="signupForm.userEmail.$dirty &&signupForm.userEmail.$error.required">User email is required.</span>

          </div>
        </div>
        <!--     <div class="form-group"> -->
        <!--       <label class="control-label col-sm-3" for="pwd">Password:</label> -->
        <!--       <div class="col-sm-9">           -->
        <!--         <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
        <!--       </div> -->
        <!--     </div> -->
        <!--     <div class="form-group">         -->
        <!--       <div class="col-sm-offset-2 col-sm-9"> -->
        <!--         <div class="checkbox"> -->
        <!--           <label><input type="checkbox"> Remember me</label> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--     </div> -->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default"
              ng-click='onSubmit()'
              ng-disabled="!signupForm.$valid" >Submit</button>
          </div>

        </div>

      </div>
    </div>
  </form>
